.todo-card {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-sm);
  transition: 300ms all;
  justify-content: space-between;
  animation-name: enter;
  animation-duration: 300ms;
}

.todo-card--neu {
  box-shadow: var(--shadow-neu);
  background-color: transparent;
}

.todo-card--can-hover:hover {
  box-shadow: var(--shadow-md);
}

.todo-card--done {
  background-color: var(--gray-300);
}

.todo-card--neu.todo-card--done {
  background-color: transparent;
  box-shadow: var(--shadow-neu);
}

.todo-card__tag {
  padding: 0.2rem 0.75rem;
  font-size: 0.8rem;
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  margin-left: 1rem;
}

.left-container {
  display: flex;
  align-items: center;
}

.todo-card__checkmark {
  color: var(--success-color);
}

.todo-card__checkbox {
  border: 1px solid var(--gray-400);
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.25rem;
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms background;
  flex-shrink: 0;
}

.todo-card__checkbox:hover {
  background-color: var(--gray-200);
}

.todo-card__checkbox--done:hover {
  background-color: var(--gray-200);
}

.todo-card__checkbox--neu {
  box-shadow: var(--shadow-neu);
  border-top: none;
  border-left: none;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.todo-card__checkbox--neu.todo-card__checkbox--done {
  box-shadow: var(--shadow-neu--inset);
}

.todo-card__label {
  margin-left: 1rem;
}

.todo-card__label--neu {
  color: var(--gray-500);
}

.label-done {
  color: var(--gray-600);
  text-decoration-line: line-through;
}

.todo-card__delete-button {
  color: var(--error-color);
}

.todo-card__title-and-tag-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
