.container {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}

.fab {
  border-radius: 9999px;
  background-color: var(--primary-color);
  width: 3rem;
  height: 3rem;
  color: white;
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  box-shadow: var(--shadow-md);
  transition: 300ms background;
  outline: none;
  border: none;
}

.fab:hover {
  background-color: var(--primary-color-dark);
}

.fab--neu {
  box-shadow: var(--shadow-neu);
  background-color: var(--neu-background-gray);
  color: var(--gray-600);
}

.fab--neu:hover {
  background-color: var(--neu-background-gray);
}

.fab--relative-to-parent {
  right: unset;
  bottom: unset;
}
