.select__input {
  padding: 1.25rem;
  border: 1px solid var(--gray-400);
  border-radius: var(--rounded-md);
  box-sizing: border-box;
}

.select__input--neu {
  background-color: transparent;
  box-shadow: var(--shadow-neu--inset);
  border: none;
  color: var(--gray-600);
}

.select__input--full-width {
  width: 100%;
}

.select__input--focused {
  border-color: var(--primary-color);
}

.select__label {
  position: absolute;
  margin: 1.25rem;
  transition: 150ms all;
  color: var(--gray-500);
}

.select__label--small {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: var(--gray-400);
}

.select__input--multi {
  min-height: 3.812rem;
  display: flex;
  flex-wrap: wrap;
  cursor: text;
}

.select__input--multi__value {
  flex-shrink: 0;
  padding: 0.5rem;
  border-radius: var(--rounded-md);
  background-color: var(--gray-300);
  margin: 0.25rem;
}

.select__menu-item--selected {
  background-color: var(--primary-color);
  color: white;
}

.multi-select-selected:hover {
  color: black;
}
