.button {
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  color: var(--gray-4);
  border-radius: var(--rounded-sm);
  transition: 300ms background;
  outline: none;
  border: none;
  background-color: transparent;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--gray-300);
}

.button--primary:hover {
  background-color: var(--primary-color-light);
}

.button--default:hover {
  background-color: var(--gray-3);
}
