.skeleton {
  margin-top: 1rem;
}

.skeleton > *:not(:last-child) {
  margin-bottom: 2rem;
}

.settings {
  background-color: var(--default-background-color);
  flex-grow: 1;
  padding: 1rem;
}

.settings-heading {
  margin: 0;
  font-weight: normal;
}

.settings__theme-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.settings__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
}

.settings__radio-buttons > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.settings__radio-buttons--neu > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
